*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 100%;
  color: #0a0a23;
}
section {
  width: 40rem;
  margin: 1rem auto;
  border: 2px solid #d0d0d5;
}
h1 {
  width: 37.5rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}
h1 .flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
h1 .flex span:first-of-type {
  font-weight: bold;
  font-size: 0.6em;
}
h1 .flex span:last-of-type {
  font-size: 1.2em;
}
#years {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
  margin: 0 -2px;
  position: sticky;
  z-index: 999;
  top: 0;
  color: #fff;
  background: #0a0a23;
}
#years span[class="year"] {
  width: 4rem;
  text-align: right;
  font-weight: bold;
}
.table-wrap {
  padding: 0 0.7rem 1.5rem;
}
table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  margin-top: 3rem;
  position: relative;
}
table caption {
  color: #356eaf;
  font-size: 1.3em;
  font-weight: normal;
  position: absolute;
  top: -2.25rem;
  left: 0.5rem;
}
tbody td {
  width: 100vw;
  min-width: 4rem;
  max-width: 4rem;
}
tbody th {
  width: calc(100% - 12rem);
}
span[class~="sr-only"] {
  border: 0;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}
tr.data {
  background-image: linear-gradient(
    to bottom,
    #dfdfe2 1.845rem,
    white 1.845rem
  );
}
tr.data th {
  text-align: left;
  padding-top: 0.32rem;
  padding-left: 0.5rem;
}
tr.data th .description {
  display: block;
  font-weight: normal;
  font-style: italic;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}
tr.data td {
  vertical-align: top;
  padding: 0.3rem 0.5rem 0;
  text-align: right;
}
tr.data td:last-of-type {
  padding-right: 0.5rem;
}
td.current {
  font-style: italic;
}
tr[class="total"] {
  border-bottom: 4px double #0a0a23;
  font-weight: bold;
}
tr[class="total"] th {
  text-align: left;
  padding: 0.5rem 0 0.25rem 0.5rem;
}
tr[class="total"] td {
  padding: 0 0.25rem;
  text-align: right;
}
tr.total td:nth-of-type(3) {
  padding-right: 0.5rem;
}
tr.total:hover {
  background-color: #99c9ff;
}
